h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.medium {
    background-color: mediumspringgreen;
}

.coral {
    background-color: lightcoral;
}

.blue {
    background-color: skyblue;   
}